[Unit]
Description=ServiceMonitor
After=network.target

[Service]
ExecStart=/usr/local/bin/ServiceMonitor
WorkingDirectory=/usr/local/bin
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
